# Data Science Final Project - Shelter Animal Adoptions

## Q1. Are animal type, sex, and age significant predictors of shelter dog and cat adoption?

### Import packages

In [1]:
install.packages("IDPmisc")  # for data wrangling (NaRV.omit() function)
library("IDPmisc")
install.packages("gmodels")   # for Independent Chi-Square tests
library("gmodels")

Installing package into 'C:/Users/bueno/OneDrive/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'IDPmisc' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\bueno\AppData\Local\Temp\Rtmpeu7lXv\downloaded_packages

Warning message:
"package 'IDPmisc' was built under R version 4.1.3"
Installing package into 'C:/Users/bueno/OneDrive/Documents/R/win-library/4.1'
(as 'lib' is unspecified)

package 'gmodels' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\bueno\AppData\Local\Temp\Rtmpeu7lXv\downloaded_packages

Warning message:
"package 'gmodels' was built under R version 4.1.3"

### Load Data

In [2]:
adoptions5 <- read.csv("C:\\Users\\bueno\\OneDrive\\Documents\\GitHub\\FinalProject\\data\\adoptions5.csv")

In [3]:
head(adoptions5)

  X Animal.Type Year Month Sex    Age       AdoptionYN typeR sexR ageR
1 0 Cat         19   May   Male   2-5 years 0          0     0    1
2 1 Dog         18   Jul   Male   0-1 years 1          1     0    0
3 3 Dog         16   Feb   Male   0-1 years 1          1     0    0
4 4 Cat         14   Mar   Male   0-1 years 0          0     0    0
5 5 Dog         20   Oct   Female 6-9 years 1          1     1    2
6 6 Dog         20   May   Male   2-5 years 1          1     0    1

## Data Wrangling

### Keep only predictor columns

In [4]:
keep <- c("typeR", "sexR", "ageR", "AdoptionYN")
adoptions6 <- adoptions5[keep]

In [5]:
head(adoptions6)

  typeR sexR ageR AdoptionYN
1 0     0    1    0
2 1     0    0    1
3 1     0    0    1
4 0     0    0    0
5 1     1    2    1
6 1     0    1    1

### Remove missing data

In [6]:
adoptions7 <- NaRV.omit(adoptions6)

## Analysis 1

### Stepwise Regression in R - Backward Elimination

#### Create a model using all 3 predictor variables

In [7]:
FitAll = lm(AdoptionYN ~ ., data = adoptions7)

In [8]:
summary(FitAll)

Call:
lm(formula = AdoptionYN ~ ., data = adoptions7)

Residuals:
    Min      1Q  Median      3Q     Max
-0.5816 -0.5446 -0.1258  0.4472  0.9111

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)  0.544576   0.002799 194.584  < 2e-16 ***
typeR        0.008190   0.002999   2.731  0.00631 **
sexR         0.028779   0.002860  10.063  < 2e-16 ***
ageR        -0.113925   0.001762 -64.665  < 2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.4909 on 118329 degrees of freedom
Multiple R-squared:  0.0361,	Adjusted R-squared:  0.03607
F-statistic:  1477 on 3 and 118329 DF,  p-value: < 2.2e-16

The overall p value and the p values for each predictor are all significant.  Will compare this to the backward elimination model.

#### Create stepwise regression model using backward elimination

In [9]:
step(FitAll, direction = 'backward')

Start:  AIC=-168389.3
AdoptionYN ~ typeR + sexR + ageR

        Df Sum of Sq   RSS     AIC
<none>               28515 -168389
- typeR  1       1.8 28517 -168384
- sexR   1      24.4 28539 -168290
- ageR   1    1007.7 29522 -164282

Call:
lm(formula = AdoptionYN ~ typeR + sexR + ageR, data = adoptions7)

Coefficients:
(Intercept)        typeR         sexR         ageR
    0.54458      0.00819      0.02878     -0.11392

The backward elimination model also shows that all 3 predictor variables are significant.

### Stepwise Regression in R - Forward Selection

#### Create the original model

In [10]:
fitstart = lm(AdoptionYN ~ 1, data = adoptions7)

In [11]:
summary(fitstart)

Call:
lm(formula = AdoptionYN ~ 1, data = adoptions7)

Residuals:
    Min      1Q  Median      3Q     Max
-0.4977 -0.4977 -0.4977  0.5023  0.5023

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 0.497689   0.001453   342.4   <2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 0.5 on 118332 degrees of freedom

#### Create stepwise regression model using forward selection

In [12]:
step(fitstart, direction = 'forward', scope = (formula(FitAll)))

Start:  AIC=-164044.9
AdoptionYN ~ 1

        Df Sum of Sq   RSS     AIC
+ ageR   1   1042.13 28541 -168287
+ sexR   1     32.56 29550 -164173
+ typeR  1     30.32 29552 -164164
<none>               29583 -164045

Step:  AIC=-168286.7
AdoptionYN ~ ageR

        Df Sum of Sq   RSS     AIC
+ sexR   1   23.9086 28517 -168384
+ typeR  1    1.3021 28539 -168290
<none>               28541 -168287

Step:  AIC=-168383.9
AdoptionYN ~ ageR + sexR

        Df Sum of Sq   RSS     AIC
+ typeR  1    1.7977 28515 -168389
<none>               28517 -168384

Step:  AIC=-168389.3
AdoptionYN ~ ageR + sexR + typeR

Call:
lm(formula = AdoptionYN ~ ageR + sexR + typeR, data = adoptions7)

Coefficients:
(Intercept)         ageR         sexR        typeR
    0.54458     -0.11392      0.02878      0.00819

The forward selection model also shows that all 3 predictor variables are significant and has the same AIC value as the backward elimination model.

### Stepwise Regression in R - Hybrid

#### Create hybrid model

In [13]:
step(fitstart, direction="both", scope=formula(FitAll))

Start:  AIC=-164044.9
AdoptionYN ~ 1

        Df Sum of Sq   RSS     AIC
+ ageR   1   1042.13 28541 -168287
+ sexR   1     32.56 29550 -164173
+ typeR  1     30.32 29552 -164164
<none>               29583 -164045

Step:  AIC=-168286.7
AdoptionYN ~ ageR

        Df Sum of Sq   RSS     AIC
+ sexR   1     23.91 28517 -168384
+ typeR  1      1.30 28539 -168290
<none>               28541 -168287
- ageR   1   1042.13 29583 -164045

Step:  AIC=-168383.9
AdoptionYN ~ ageR + sexR

        Df Sum of Sq   RSS     AIC
+ typeR  1      1.80 28515 -168389
<none>               28517 -168384
- sexR   1     23.91 28541 -168287
- ageR   1   1033.48 29550 -164173

Step:  AIC=-168389.3
AdoptionYN ~ ageR + sexR + typeR

        Df Sum of Sq   RSS     AIC
<none>               28515 -168389
- typeR  1       1.8 28517 -168384
- sexR   1      24.4 28539 -168290
- ageR   1    1007.7 29522 -164282

Call:
lm(formula = AdoptionYN ~ ageR + sexR + typeR, data = adoptions7)

Coefficients:
(Intercept)         ageR         sexR        typeR
    0.54458     -0.11392      0.02878      0.00819

Finally, the hybrid model also shows that all 3 predictor variables are significant and has the same AIC value as the backward elimination model and the forwards selection model.

## Analysis 2

### Using Independent Chi-Squares to test each variable, do the 3 variables influence adoption?

### Data Wrangling

#### Remove missing data from adoptions5

In [14]:
adoptions8 <- NaRV.omit(adoptions5)

In [15]:
head(adoptions8)

  X Animal.Type Year Month Sex    Age       AdoptionYN typeR sexR ageR
1 0 Cat         19   May   Male   2-5 years 0          0     0    1
2 1 Dog         18   Jul   Male   0-1 years 1          1     0    0
3 3 Dog         16   Feb   Male   0-1 years 1          1     0    0
4 4 Cat         14   Mar   Male   0-1 years 0          0     0    0
5 5 Dog         20   Oct   Female 6-9 years 1          1     1    2
6 6 Dog         20   May   Male   2-5 years 1          1     0    1

### Independent Chi-Square for Animal Type

In [16]:
chisqType <- chisq.test(adoptions8$Animal.Type, adoptions8$AdoptionYN, correct=FALSE)
chisqType

	Pearson's Chi-squared test

data:  adoptions8$Animal.Type and adoptions8$AdoptionYN
X-squared = 121.3, df = 1, p-value < 2.2e-16

The p value is < .05 so animal type significantly influences adoption.

#### Post Hoc Analysis:  Standardized residuals

In [17]:
chisq.results <- chisqType
chisq.results$stdres

                      adoptions8$AdoptionYN
adoptions8$Animal.Type         0         1
                   Cat -11.01364  11.01364
                   Dog  11.01364 -11.01364

Standardized residuals are > 2, so both animal types of cats and dogs influence an adoption outcome.

### Independent Chi-Square for Sex

In [18]:
chisqSex <- chisq.test(adoptions8$Sex, adoptions8$AdoptionYN, correct=FALSE)
chisqSex

	Pearson's Chi-squared test

data:  adoptions8$Sex and adoptions8$AdoptionYN
X-squared = 130.24, df = 1, p-value < 2.2e-16

The p value is < .05 so sex of the animal significantly influences adoption.

#### Post Hoc Analysis: Standardized residuals

In [19]:
chisq.results1 <- chisqSex
chisq.results1$stdres

              adoptions8$AdoptionYN
adoptions8$Sex         0         1
        Female -11.41236  11.41236
        Male    11.41236 -11.41236

Standardized residuals are > 2, so both sexes influence an adoption outcome.

### Independent Chi-Square for Age

In [20]:
chisqAge <- chisq.test(adoptions8$Age, adoptions8$AdoptionYN, correct=FALSE)
chisqAge

	Pearson's Chi-squared test

data:  adoptions8$Age and adoptions8$AdoptionYN
X-squared = 4504.3, df = 4, p-value < 2.2e-16

The p value is < .05 so animal age significantly influences adoption.

#### Post Hoc Analysis: Standardized residuals

In [21]:
chisq.results2 <- chisqAge
chisq.results2$stdres

              adoptions8$AdoptionYN
adoptions8$Age         0         1
   0-1 years   -63.89894  63.89894
   10-15 years  32.38595 -32.38595
   16+ years    12.84379 -12.84379
   2-5 years    38.19677 -38.19677
   6-9 years    26.11931 -26.11931

Standardized residuals are > 2, so all age categories influence an adoption outcome.